<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}">
    <title>FastAPI</title>
</head>
<body>
    <h1>Hello</h1>

    <form action="/add" method="post">
        <input type="text" name="title">
        <button type="submit">Add</button>
    </form>

    {% for todo in todos %}
        <p>{{ todo.title }}</p>
        <p>{{ todo.complete }}</p>
        <p><a href="/update/{{ todo.id }}/">Update</a></p>
        <p><a href="/delete/{{ todo.id }}/">Delete</a></p>
    {% endfor %}
</body>
</html>